{% extends 'base.html.twig' %}

{% block body %}
    <p>Buenos dias {{ name }},</p>
    <p>Un Administrador ha registrado tu nueva cuenta en Preventool.</p>
    <p>Pronto contactará contigo para comunicarte tus credenciales de acceso.</p>
    <p>Podrás cambiar tu contraseña una vez accedas desde tu perfil de usuario.</p>
{% endblock %}